@font-face {
    font-family: 'Inter Regular';
    src: url(../fonts/Inter_24pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter Medium';
    src: url(../fonts/Inter_24pt-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url(../fonts/Inter_24pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url(../fonts/Inter_24pt-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

:root {
    --primary: #003c66;
    --light: #fff;
    --button-primary: #5c94c5;
    --dark: #000;
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

p {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark);
}

/* Button Start */
.button {
    font-family: 'Inter ExtraBold';
    font-size: 14px;
    color: var(--light);
    width: 218px;
    height: 35;
    background: var(--button-primary);
    text-align: center;
    border-radius: 20px;
}

.button:hover {
    color: var(--button-primary);
    background: var(--light);
}

/* Button End */

/* Header Start */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background: var(--primary);
    z-index: 100;
}

#header .header__container {
    height: 48px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    background: var(--primary);
}

#header .header__container .header__logo-link {
    height: 38px;
}

#header .header__container .header__logo-link .header__logo {
    width: 116px;
    transition: all 0.2s;
}

#header .header__container .header__logo-link .header__logo:hover {
    transform: scale(1.1);
}

#header .header__container .header__burger {
    width: 32px;
    height: 23px;
    position: absolute;
    top: 12.5px;
    right: 16px;
}

#header .header__container .header__burger span {
    height: 3px;
    width: 100%;
    display: block;
    background: var(--light);
    margin-bottom: 7px;
    border-radius: 12px;
    transition: 0.7s all;
}

#header .header__container .header__burger span:last-child {
    margin-bottom: unset;
}

#header .header__container .header__burger_active span {
    margin-bottom: -3px;
}

#header .header__container .header__burger_active span:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
}

#header .header__container .header__burger_active span:nth-child(2) {
    display: none;
}

#header .header__container .header__burger_active span:nth-child(3) {
    transform: translateY(9px) rotate(45deg);
}

#header .header__container .header__menu {
    z-index: -1;
    position: fixed;
    top: -100vh;
    right: 0px;
    background: var(--primary);
    width: 100%;
    height: 100vh;
    padding-top: 145px;
    overflow: auto;
    padding-bottom: 50px;
    transition: 0.7s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .header__container .header__menu_active {
    top: 0px
}

#header .header__container .header__menu .header__menu-nav .header__menu-list {
    margin-bottom: 40px;
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item {
    text-align: center;
    margin-bottom: 24px;
    transition: 0.5s all;
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item:last-child {
    margin-bottom: unset;
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item .header__menu-item-link {
    font-family: 'Inter Medium';
    font-size: 24px;
    color: var(--light);
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item .header__menu-item-link:active {
    color: var(--button-primary);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name {
    font-family: 'Inter Medium';
    color: var(--light);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name:active {
    color: var(--button-primary);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-label {
    font-size: 24px;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-icon {
    font-size: 10px;
    transition: 0.5s all;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name:active .header__dropdown-icon::before {
    color: var(--button-primary);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-icon_active {
    transform: rotate(180deg);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list {
    height: 0px;
    overflow: hidden;
    transition: 0.5s all;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list_active {
    height: 256px;

}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item {
    text-align: center;
    margin-bottom: 10px;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item:last-child {
    margin-bottom: unset;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item .header__dropdown-link {
    font-family: 'Inter Medium';
    color: var(--light);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item .header__dropdown-link:active {
    color: var(--button-primary);
}

#header .header__container .header__language {
    position: absolute;
    font-family: "Inter Medium";
    font-size: 20px;
    top: 70px;
    left: 16px;
    padding: 2px 15px;
    background: var(--light);
    border-radius: 16px;
    color: var(--primary);
}

.no-scroll {
    overflow: hidden;
}

/* Header End */

/* Footer Start */
#footer {
    width: 100%;
    min-height: 244px;
    background: var(--primary);
}

#footer .footer__container {
    padding: 13px 56px;
}

#footer .footer__container .footer__central-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer__container .footer__central-block .footer__central-block-txt {
    font-family: 'Inter Medium';
    font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1024 - 375)));
    line-height: 183.333%;
    text-align: center;
    color: var(--light);
    margin-bottom: 9px;
}

#footer .footer__container .footer__central-block .footer__phone {
    font-family: 'Inter Medium';
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1024 - 375)));
    line-height: 157.143%;
    color: var(--light);
    margin-bottom: 33px;
}

#footer .footer__container .footer__central-block .footer__phone:active {
    color: var(--button-primary);
}

#footer .footer__container .footer__central-block .footer__social-media {
    display: flex;
    gap: 28px;
    margin-bottom: 33px;
}

#footer .footer__container .footer__central-block .footer__social-media .footer__sm-link .footer__sm-icon {
    font-size: 28px;
}

#footer .footer__container .footer__central-block .footer__social-media .footer__sm-link .footer__sm-icon:active::before {
    color: var(--button-primary);
}

#footer .footer__container .footer__logo-link {}

#footer .footer__container .footer__logo-link .footer__logo-img {
    width: 116px;
    display: block;
    margin: 0 auto;
    transition: all 0.2s;
}

#footer .footer__container .footer__logo-link .footer__logo-img:hover {
    transform: scale(1.1);
}

#footer .footer__container .footer__right-block {
    display: none;
}

#footer .footer__bottom-text {
    display: none;
}

/* Footer End */

/* Partners Main Start */
#partners {
    background: url(../img/bg-mobile.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 48px;
    padding-bottom: 31px;
}

#partners .partners__container {
    padding: 20px 10px 0px 10px;
}

#partners .partners__container .partners__title {
    font-family: 'Inter Bold';
    font-size: 36px;
    color: var(--light);
    text-align: center;
    margin-bottom: 40px;
}

#partners .partners__container .partners__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

#partners .partners__container .partners__wrapper .partners__partner {
    width: 300px;
    height: 155px;
    border-radius: 8px;
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

#partners .partners__container .partners__wrapper .partners__partner:active {
    transform: scale(0.95);
}

#partners .partners__container .partners__wrapper .partners__partner .partners__intita-logo {
    width: 242px;
    height: 83px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__it-academy-logo {
    width: 240px;
    height: 82px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__job-to-youth-logo {
    width: 240px;
    height: 57px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__kava-drive-logo {
    width: 240px;
    height: 72px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__drones-dep-logo {
    width: 153px;
    height: 93px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__dv-logo {
    width: 93px;
    height: 93px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__stem-logo {
    width: 242px;
    height: 56px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__profit-day-logo {
    width: 241px;
    height: 46px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__acted-logo {
    width: 241px;
    height: 93px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__canada-logo {
    width: 241px;
    height: 22px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__zero-logo {
    width: 83px;
    height: 84px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__seed-logo {
    width: 158px;
    height: 85px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__asta-mobi {
    width: 90px;
    height: 90px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__ria {
    width: 130px;
    height: 93px;
}

#partners .partners__container .partners__wrapper .partners__partner .partners__auto-ria {
    width: 114px;
    height: 93px;
}

/* Partners Main End */

/* Mentors Main Start */
#mentors {
    background: url(../img/bg-mobile.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 48px;
    padding-bottom: 31px;
}

#mentors .mentors__container {
    padding: 20px 10px 0px 10px;
}

#mentors .mentors__container .mentors__title {
    font-family: 'Inter Bold';
    font-size: 36px;
    color: var(--light);
    text-align: center;
    margin-bottom: 40px;
}

#mentors .mentors__container .mentors__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor {
    width: 300px;
    min-height: 260px;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    border-radius: 49.339px 0px 0px 0px;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img-second {
    background: url(../img/mentors/photos/marvin.png);
    background-size: cover;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img-third {
    background: url(../img/mentors/photos/jacob.png);
    background-size: cover;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img-fourth {
    background: url(../img/mentors/photos/jane.png);
    background-size: cover;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-caption-block {
    width: 100%;
    height: 60px;
    background: rgba(92, 148, 197, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 44.586px 0px;
    margin-bottom: 6px;
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-caption-block .mentors__mentor-caption {
    font-family: 'Inter Bold';
    font-size: 20px;
    color: var(--light);
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-txt {
    font-family: 'Inter Regular';
    font-size: 11px;
    color: var(--light);
}

#mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-txt .mentors__mentor-item {
    list-style-type: disc;
    margin-left: 16px;
}



/* Mentors Main End */

/* Provisions Main Start */
#provisions {
    background: url(../img/bg-mobile.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 48px;
    padding-bottom: calc(40px + (60 - 40) * ((100vw - 375px) / (1440 - 375)));
    ;
}

#provisions .provisions__container {
    padding-top: calc(20px + (60 - 20) * ((100vw - 375px) / (1440 - 375)));
    color: var(--light);
    width: calc(335px + (1044 - 335) * ((100vw - 375px) / (1440 - 375)));
    margin: 0 auto;
}

#provisions .provisions__container .provisions__title {
    font-family: 'Inter Bold';
    font-size: calc(36px + (64 - 36) * ((100vw - 375px) / (1440 - 375)));
    text-align: center;
    margin-bottom: calc(5px + (20 - 5) * ((100vw - 375px) / (1440 - 375)));
}

#provisions .provisions__container .provisions__description-txt {
    font-family: 'Inter Regular';
    font-size: calc(12px + (26 - 12) * ((100vw - 375px) / (1440 - 375)));
    width: calc(248px + (842 - 248) * ((100vw - 375px) / (1440 - 375)));
    text-align: center;
    margin: 0 auto 40px auto;
}

#provisions .provisions__container .provisions__block {
    margin-bottom: 40px;
}

#provisions .provisions__container .provisions__block:last-child {
    margin-bottom: unset;
}

#provisions .provisions__container .provisions__block .provisions__block-title {
    font-family: 'Inter Bold';
    font-size: 24px;
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1440 - 375)));
    text-align: center;
    margin-bottom: 20px;
}

#provisions .provisions__container .provisions__block .provisions__block-txt {
    width: 100%;
    padding: calc(10px + (20 - 10) * ((100vw - 375px) / (1440 - 375)));
    background: var(--primary);
    border-radius: 16px;
    font-family: 'Inter Regular';
    font-size: calc(12px + (24 - 12) * ((100vw - 375px) / (1440 - 375)));
    line-height: 140%;
}

#provisions .provisions__container .provisions__block .provisions__block-txt .provisions__block-txt-link {
    font-family: 'Inter Bold';
    color: var(--button-primary);
    text-decoration: underline;
}

#provisions .provisions__container .provisions__block .provisions__block-txt .provisions__block-list .provisions__block-list-item {
    list-style-type: decimal;
    margin-left: calc(17px + (29 - 17) * ((100vw - 375px) / (1440 - 375)));
}

#provisions .provisions__container .provisions__block .provisions__block-txt .provisions__assessment-list .provisions__assessment-list-item {
    list-style-type: decimal;
    margin-left: calc(20px + (46 - 20) * ((100vw - 375px) / (1440 - 375)));
}

#provisions .provisions__container .provisions__block .provisions__block-txt .provisions__contacts {
    color: var(--light);
}

.provisions__txt-bold {
    font-family: 'Inter Bold';
}

/* Provisions Main End */

/*------------------------ @ media ----------------------------*/

/*------------------------ 640px ----------------------------*/


@media (min-width: 640px) {

    /* Partners Main Start */
    #partners .partners__container .partners__wrapper {
        gap: 32px 20px;
    }

    /* Partners Main End */
}

/*------------------------ 768px ----------------------------*/


@media (min-width: 768px) {

    /* Mentors Main Start */
    #mentors .mentors__container {
        padding: 20px 50px 0px 50px;
    }

    /* Mentors Main End */
}


/*------------------------ 1024px ----------------------------*/

@media (min-width: 1024px) {

    /* Header Start */
    #header {
        height: 73px;
    }

    #header .header__container {
        height: 73px;
        padding: 0px 32px;
    }

    #header .header__container .header__burger {
        display: none;
    }

    #header .header__container .header__menu {
        z-index: 0;
        position: unset;
        background: unset;
        height: 73px;
        padding-top: unset;
        overflow: unset;
        padding-bottom: unset;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 27px;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list {
        margin-bottom: unset;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.3px;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item {
        margin: 0px 30px 0px 0px;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item:last-child {
        margin: unset;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item .header__menu-item-link {
        font-family: 'Inter Regular';
        font-size: 16px;
    }

    #header .header__container .header__menu .header__dropdown {
        width: 304px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-name {
        font-family: 'Inter Regular';
        margin-bottom: 28px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-label {
        font-size: 16px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-icon {
        font-size: 7px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list {
        border-radius: 12px;
        padding-left: 15px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list_active {
        padding: 15px;
        height: 343px;
        background-color: var(--light);
        box-shadow: 4px 4px 10.5px 0px rgba(0, 0, 0, 0.40);
        border-radius: 12px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item {
        text-align: left;
        margin-bottom: 22px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item:last-child {
        margin-bottom: unset;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item .header__dropdown-link {
        color: var(--primary);
    }

    #header .header__container .header__language {
        font-family: 'Inter Regular';
        font-size: 16px;
        line-height: 29px;
        color: var(--light);
        top: 22px;
        right: 38px;
        left: unset;
        padding: unset;
        background: unset;
        border-radius: unset;
    }

    /* Header End */

    /* Footer Start */
    #footer {
        min-height: 299px;
    }

    #footer .footer__container {
        padding: calc((25*0.7)/1024*100vw) calc((89*0.5)/1024*100vw);
        display: flex;
        justify-content: space-between;
    }

    #footer .footer__container .footer__logo-link {
        order: 0;
        padding-top: 65px;
    }

    #footer .footer__container .footer__central-block {
        order: 1;
    }

    #footer .footer__container .footer__central-block .footer__central-block-txt {
        font-size: 12px;
        letter-spacing: 0.3px;
        margin-bottom: 12px;
        padding-top: 17px;
    }

    #footer .footer__container .footer__central-block .footer__phone {
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-bottom: 41px;
    }

    #footer .footer__container .footer__central-block .footer__phone:hover {
        color: var(--button-primary);
    }

    #footer .footer__container .footer__central-block .footer__social-media .footer__sm-link .footer__sm-icon:hover::before {
        color: var(--button-primary);
    }

    #footer .footer__container .footer__right-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        font-family: 'Inter Medium';
        font-size: 12px;
        line-height: 250%;
        color: var(--light);
    }

    #footer .footer__container .footer__right-block .footer__rb-lower-txt {
        margin-bottom: 26px;
    }

    #footer .footer__bottom-text {
        display: block;
        font-family: 'Inter Medium';
        font-size: 10px;
        line-height: 200%;
        letter-spacing: 0.2px;
        color: var(--light);
        text-align: center;
        width: 767px;
        margin: 0 auto;
    }
    /* Footer End */

    /* Partners Main Start */
    #partners {
        background: url(../img/bg-desktop.webp);
        background-size: cover;
        background-position: center;
        margin-top: 73px;
        padding-bottom: 40px;
    }

    #partners .partners__container {
        padding: 40px 10px 0px 10px;
    }

    #partners .partners__container .partners__title {
        font-size: 64px;
        margin-bottom: 50px;
    }

    #partners .partners__container .partners__wrapper .partners__partner {
        width: 329px;
        height: 170px;
    }

    #partners .partners__container .partners__wrapper .partners__partner:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__intita-logo {
        width: 265px;
        height: 91px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__it-academy-logo {
        width: 265px;
        height: 91px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__job-to-youth-logo {
        width: 265px;
        height: 63px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__kava-drive-logo {
        width: 265px;
        height: 79px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__drones-dep-logo {
        width: 153px;
        height: 93px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__dv-logo {
        width: 93px;
        height: 93px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__stem-logo {
        width: 266px;
        height: 62px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__profit-day-logo {
        width: 265px;
        height: 51px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__acted-logo {
        width: 265px;
        height: 102px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__canada-logo {
        width: 265px;
        height: 24px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__zero-logo {
        width: 91px;
        height: 93px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__seed-logo {
        width: 173px;
        height: 93px;
    }

    #partners .partners__container .partners__wrapper .partners__partner .partners__asta-mobi {
        width: 93px;
        height: 93px;
    }

    /* Partners Main End */

    /* Mentors Main Start */
    #mentors {
        background: url(../img/bg-desktop.svg);
        background-size: cover;
        background-position: center;
        margin-top: calc((72*0.7)/1024*100vw);
        padding-bottom: calc((87*0.7)/1024*100vw);
    }

    #mentors .mentors__container {
        padding: 60px calc((200*0.7)/1024*100vw) 0px calc((200*0.7)/1024*100vw);
    }

    #mentors .mentors__container .mentors__title {
        font-size: calc((64*0.7)/1024*100vw);
    }

    #mentors .mentors__container .mentors__wrapper {
        gap: calc((95*0.7)/1024*100vw) calc((80*0.7)/1024*100vw);
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor {
        width: calc((400*0.7)/1024*100vw);
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img {
        height: calc((400*0.7)/1024*100vw);
        border-radius: calc((77.462*0.7)/1024*100vw) 0px 0px 0px;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img .mentors__mentor-caption-block {
        height: calc((94*0.7)/1024*100vw);
        border-radius: 0px 0px calc((70*0.7)/1024*100vw) 0px;
        margin-bottom: 10px;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img .mentors__mentor-caption-block .mentors__mentor-caption {
        font-size: calc((32*0.7)/1024*100vw);
        ;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-txt {
        font-size: calc((18*0.7)/1024*100vw);
    }

    /* Mentors Main End */

    /* Provisions Main Start */
    #provisions {
        background: url(../img/bg-desktop.webp);
        background-size: cover;
        background-position: center;
        margin-top: 72px;
    }
    /* Provisions Main End */
}

/*------------------------ 1440px ----------------------------*/

@media (min-width: 1440px) {

    /* Header Start */
    #header .header__container .header__menu .header__menu-nav .header__menu-list {
        margin-right: 204px;
    }

    /* Header End */

    /* Footer Start */
    #footer .footer__container {
        padding: 25px 89px;
    }

    /* Footer End */

    /* Mentors Main Start */
    #mentors {
        margin-top: 72px;
        padding-bottom: 87px;
    }

    #mentors .mentors__container {
        padding: 60px 0px 0px 0px;
        width: 1022px;
        margin: 0 auto;
    }

    #mentors .mentors__container .mentors__title {
        font-size: 64px;
    }

    #mentors .mentors__container .mentors__wrapper {
        gap: 95px 80px;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor {
        width: 400px;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-img {
        height: 400px;
        border-radius: 77.462px 0px 0px 0px;
        
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-caption-block {
        height: 94px;
        border-radius: 0px 0px 70px 0px;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-caption-block .mentors__mentor-caption {
        font-size: 32px;
        ;
    }

    #mentors .mentors__container .mentors__wrapper .mentors__mentor .mentors__mentor-txt {
        font-size: 18px;
    }

    /* Mentors Main End */

    /* Provisions Main Start */
    #provisions .provisions__container {
        padding-top: 60px;
        width: 1044px;
    }

    #provisions .provisions__container .provisions__title {
        font-size: 64px;
        margin-bottom: 20px;
    }

    #provisions .provisions__container .provisions__description-txt {
        font-size: 26px;
        width: 842px;
    }

    #provisions .provisions__container .provisions__block .provisions__block-title {
        font-size: 32px;
    }

    #provisions .provisions__container .provisions__block .provisions__block-txt {
        padding: 20px;
        font-size: 24px;
    }

    #provisions .provisions__container .provisions__block .provisions__block-txt .provisions__block-list .provisions__block-list-item {
        margin-left: 29px;
    }
    
    #provisions .provisions__container .provisions__block .provisions__block-txt .provisions__assessment-list .provisions__assessment-list-item {
        margin-left: 46px;
    }
    /* Provisions Main End */
}