@font-face {
    font-family: 'Inter Regular';
    src: url(../fonts/Inter_24pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter Medium';
    src: url(../fonts/Inter_24pt-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url(../fonts/Inter_24pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url(../fonts/Inter_24pt-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

:root {
    --primary: #003c66;
    --light: #fff;
    --button-primary: #5c94c5
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

p {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.button {
    font-family: 'Inter ExtraBold';
    font-size: 14px;
    color: var(--light);
    width: 218px;
    height: 35;
    background: var(--button-primary);
    text-align: center;
    border-radius: 20px;
}

.button:hover {
    color: var(--button-primary);
    background: var(--light);
}

/* Header Start */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background: var(--primary);
}

#header .header__container {
    height: 48px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    background: var(--primary);
}

#header .header__container .header__logo-link {
    height: 38px;
}

#header .header__container .header__logo-link .header__logo {
    width: 116px;
}

#header .header__container .header__burger {
    width: 32px;
    height: 23px;
    position: absolute;
    top: 12.5px;
    right: 16px;
}

#header .header__container .header__burger span {
    height: 3px;
    width: 100%;
    display: block;
    background: var(--light);
    margin-bottom: 7px;
    border-radius: 12px;
    transition: 0.7s all;
}

#header .header__container .header__burger span:last-child {
    margin-bottom: unset;
}

#header .header__container .header__burger_active span {
    margin-bottom: -3px;
}

#header .header__container .header__burger_active span:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
}

#header .header__container .header__burger_active span:nth-child(2) {
    display: none;
}

#header .header__container .header__burger_active span:nth-child(3) {
    transform: translateY(9px) rotate(45deg);
}

#header .header__container .header__menu {
    z-index: -1;
    position: fixed;
    top: -100vh;
    right: 0px;
    background: var(--primary);
    width: 100%;
    height: 100vh;
    padding-top: 145px;
    overflow: auto;
    padding-bottom: 50px;
    transition: 0.7s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .header__container .header__menu_active {
    top: 0px
}

#header .header__container .header__menu .header__menu-nav .header__menu-list {
    margin-bottom: 40px;
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item {
    text-align: center;
    margin-bottom: 24px;
    transition: 0.5s all;
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item:last-child {
    margin-bottom: unset;
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item .header__menu-item-link {
    font-family: 'Inter Medium';
    font-size: 24px;
    color: var(--light);
}

#header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item .header__menu-item-link:active {
    color: var(--button-primary);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name {
    font-family: 'Inter Medium';
    color: var(--light);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name:active {
    color: var(--button-primary);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-label {
    font-size: 24px;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-icon {
    font-size: 10px;
    transition: 0.5s all;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name:active .header__dropdown-icon::before {
    color: var(--button-primary);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-icon_active {
    transform: rotate(180deg);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list {
    height: 0px;
    overflow: hidden;
    transition: 0.5s all;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list_active {
    height: 256px;

}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item {
    text-align: center;
    margin-bottom: 10px;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item:last-child {
    margin-bottom: unset;
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item .header__dropdown-link {
    font-family: 'Inter Medium';
    color: var(--light);
}

#header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item .header__dropdown-link:active {
    color: var(--button-primary);
}

#header .header__container .header__language {
    position: absolute;
    font-family: "Inter Medium";
    font-size: 20px;
    top: 70px;
    left: 16px;
    padding: 2px 15px;
    background: var(--light);
    border-radius: 16px;
    color: var(--primary);
}

.no-scroll {
    overflow: hidden;
}

/* Header End */

/* Footer Start */
#footer {
    width: 100%;
    min-height: 244px;
    background: var(--primary);
}

#footer .footer__container {
    padding: 13px 56px;
}

#footer .footer__container .footer__central-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer__container .footer__central-block .footer__central-block-txt {
    font-family: 'Inter Medium';
    font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1024 - 375)));
    line-height: 183.333%;
    text-align: center;
    color: var(--light);
    margin-bottom: 9px;
}

#footer .footer__container .footer__central-block .footer__phone {
    font-family: 'Inter Medium';
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1024 - 375)));
    line-height: 157.143%;
    color: var(--light);
    margin-bottom: 33px;
}

#footer .footer__container .footer__central-block .footer__social-media {
    display: flex;
    gap: 28px;
    margin-bottom: 33px;
}

#footer .footer__container .footer__central-block .footer__social-media .footer__sm-lin {}

#footer .footer__container .footer__central-block .footer__social-media .footer__sm-link .footer__sm-icon {
    font-size: 28px;
}

#footer .footer__container .footer__logo-link {}

#footer .footer__container .footer__logo-link .footeer__logo-img {
    width: 116px;
    display: block;
    margin: 0 auto;
}

#footer .footer__container .footer__right-block {
    display: none;
}

#footer .footer__bottom-text {
    display: none;
}

/* Footer End */

/* Partners Main Start */
main {
    background: url(../img/partners/partners-bg-desktop.webp);
    background-size: cover;
    width: 100%;
    height: 764px;
}

/* Partners Main End */



/*------------------------ @ media ----------------------------*/

/*------------------------ 1024px ----------------------------*/

@media (min-width: 1024px) {

    /* Header Start */
    #header {
        height: 73px;
    }

    #header .header__container {
        height: 73px;
        padding: 0px 32px;
    }

    #header .header__container .header__burger {
        display: none;
    }

    #header .header__container .header__menu {
        z-index: 0;
        position: unset;
        background: unset;
        height: 73px;
        padding-top: unset;
        overflow: unset;
        padding-bottom: unset;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 27px;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list {
        margin-bottom: unset;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.3px;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item {
        margin: 0px 30px 0px 0px;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item:last-child {
        margin: unset;
    }

    #header .header__container .header__menu .header__menu-nav .header__menu-list .header__menu-item .header__menu-item-link {
        font-family: 'Inter Regular';
        font-size: 16px;
    }

    #header .header__container .header__menu .header__dropdown {
        width: 304px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-name {
        font-family: 'Inter Regular';
        margin-bottom: 28px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-name .header__dropdown-label {
        font-size: 16px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list {
        border-radius: 12px;
        padding-left: 15px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list_active {
        padding: 15px;
        height: 343px;
        background-color: var(--light);
        border-radius: 12px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item {
        text-align: left;
        margin-bottom: 22px;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item:last-child {
        margin-bottom: unset;
    }

    #header .header__container .header__menu .header__dropdown .header__dropdown-list .header__dropdown-item .header__dropdown-link {
        color: var(--primary);
    }

    #header .header__container .header__language {
        font-family: 'Inter Regular';
        font-size: 16px;
        line-height: 29px;
        color: var(--light);
        top: 22px;
        right: 38px;
        left: unset;
        padding: unset;
        background: unset;
        border-radius: unset;
    }

    /* Header End */

    /* Footer Start */
    #footer {
        min-height: 299px;
    }

    #footer .footer__container {
        padding: calc((25*0.7)/1024*100vw) calc((89*0.5)/1024*100vw);
        display: flex;
        justify-content: space-between;
    }

    #footer .footer__container .footer__logo-link {
        order: 0;
        padding-top: 65px;
    }

    #footer .footer__container .footer__central-block {
        order: 1;
    }

    #footer .footer__container .footer__central-block .footer__central-block-txt {
        font-size: 12px;
        letter-spacing: 0.3px;
        margin-bottom: 12px;
        padding-top: 17px;
    }

    #footer .footer__container .footer__central-block .footer__phone {
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-bottom: 41px;
    }

    #footer .footer__container .footer__right-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        font-family: 'Inter Medium';
        font-size: 12px;
        line-height: 250%;
        color: var(--light);
    }

    #footer .footer__container .footer__right-block .footer__rb-lower-txt {
        margin-bottom: 26px;
    }

    #footer .footer__bottom-text {
        display: block;
        font-family: 'Inter Medium';
        font-size: 10px;
        line-height: 200%;
        letter-spacing: 0.2px;
        color: var(--light);
        text-align: center;
        width: 767px;
        margin: 0 auto;
    }
}

/*------------------------ 1440px ----------------------------*/

@media (min-width: 1440px) {

    /* Header Start */
    #header .header__container .header__menu .header__menu-nav .header__menu-list {
        margin-right: 204px;
    }

    /* Header End */

    /* Footer Start */
    #footer .footer__container {
        padding: 25px 89px;
    }
    /* Footer End */
}